@import "../../variables.scss";

#landing,
.landing-container {
  .benefit-wrapper {
    background: #fcf9f4;
    width: 100%;
    padding: 0 var(--default-padding) 3rem var(--default-padding);

    .benefit-text-wrapper {
      text-align: center;

      h2 {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-style: normal;
      }
    }

    .benefit-content-wrapper {
      text-align: center;
      padding: 2rem 0 0;

      h4 {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }

  .info-card-row {
    background: #fcf9f4;
    padding: 0 3rem 3rem 3rem;
    margin-top: -7rem;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .info-card-wrapper {
      height: 100%;
      border-radius: 22px;

      .ant-card-body {
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
      }

      .info-card-icon {
        width: 55px;
        height: 55px;
        padding: 6px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 50px 40px 50px 40px;
      }

      h3 {
        color: #004846;
        font-family: "RocGrotesk";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
      }

      p {
        color: #00625f;
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }

      &.info-first {
        background: #47d985;
      }

      &.info-second {
        background: #76c8ff;
      }

      &.info-third {
        background: #ffc505;
      }
    }
  }

  .faq-section-wrapper {
    padding: 3rem var(--default-padding) 0;
    background: #fff;

    #faq-page {
      min-height: fit-content;
      .content-wrapper {
        margin-top: 24px;
      }
    }

    .faq-section-title-wrapper {
      text-align: center;

      h2 {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-style: normal;
      }

      p {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .faq-section-card-wrapper {
      .ant-card-body {
        text-align: center;
        padding: 24px 20px 38px;
        width: 90%;
        border-radius: 16px;
        background: #eaf2f2;
        position: relative;
        overflow: hidden;
      }

      .faq-card-content-wrapper {
        position: relative;
        z-index: 9;
        h2 {
          color: $primary-color;
          font-family: "RocGrotesk";
          font-size: 30px;
          padding: 0;
          margin: 0;
        }

        p {
          font-family: "TabletGothic";
          font-size: 16px;
          font-style: normal;
        }

        a {
          margin-top: 20px;
        }
      }
    }
  }

  &.mobile-screen {
    .info-card-row,
    .faq-section-wrapper {
      padding-left: $default-mobile-padding-size !important;
      padding-right: $default-mobile-padding-size !important;
    }

    .info-card-row {
      margin-top: -1.25rem !important;
    }

    .faq-section-wrapper {
      #faq-page {
        min-height: fit-content;
        .content-wrapper {
          margin-top: 0;
          margin-bottom: 0;
          padding: 0 0 3rem 0;
        }
      }

      .faq-section-card-wrapper {
        .ant-card-body {
          width: 100%;
        }
      }
    }
  }
}
