@import "../../variables.scss";

#lib-explorer {
  .lib-content-wrapper {
    margin-top: 24px;

    .lib-page-title-wrapper {
      .title {
        color: #01625f;
        font-family: "RocGrotesk";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
      }

      .description {
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        max-width: 70%;
      }
    }

    .map-filter-container {
      .map-card-wrapper {
        min-height: 505px;
      }

      .map-card-wrapper {
        border-radius: 20px;
        border: 1px solid #f2f2f2;
        box-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.25);

        .ant-card-body {
          padding: 20px 20px 20px 0;
          display: flex;
          justify-content: center;
        }
      }
    }

    .filter-benchmark-value-wrapper {
      display: flex;
      gap: 24px;
      flex-direction: column;
    }

    .filter-card-wrapper {
      border-radius: 20px;
      background: #d0e2e2;

      h3 {
        font-size: 16px;
      }

      .ant-card-body {
        padding: 12px 20px;
      }
    }

    .lib-filter-wrapper {
      .ant-select,
      .ant-input {
        width: 100%;
      }

      .filter-label {
        font-family: "TabletGothic";
        margin-bottom: 4px;
      }

      .ant-space {
        width: fit-content;
      }

      .search-button,
      .clear-button {
        font-family: "TabletGothic";
        border-radius: 40px;
        border: 1px solid #01625f;
        font-weight: 400;
      }

      .search-button {
        background: #01625f;
        color: #fff;
      }

      .clear-button {
        color: #01625f;
        background: transparent;
      }
    }

    .benchmark-value-card-wrapper {
      border-radius: 20px;
      background: $primary-color;

      display: flex;
      padding: 4px 21px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      flex-shrink: 0;

      color: #fff;
    }
  }
}
