@import "../../../variables.scss";

#case-detail {
  .case-sidebar-container {
    background: #fff;
    height: 95vh;
    padding: 24px 32px;

    .case-step-wrapper {
      .ant-steps-item {
        // not active
        .ant-steps-item-tail::after {
          border: 1px solid #e1e0da;
        }

        .ant-steps-item-icon {
          border: 1px solid #e3e3e3;

          .ant-steps-icon {
            color: #979797;
            text-align: center;
            font-family: "RocGrotesk";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }

        .ant-steps-item-title {
          font-family: "RocGrotesk";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
        .ant-steps-item-description {
          color: #475467;
          font-family: "TabletGothic";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        // when active
        &.ant-steps-item-active {
          .ant-steps-item-tail::after {
            border: 1px solid $primary-color;
          }

          .ant-steps-item-icon {
            border: 1px solid $primary-color;
            box-shadow: 0 0 2px 4px rgba(203, 244, 220, 1);
            background: #eaf2f2;

            .ant-steps-icon {
              color: $primary-color;
            }
          }
        }

        // when finished
        &.ant-steps-item-finish {
          .ant-steps-item-icon {
            border: 1px solid #48d985;
            background: #48d985;

            .ant-steps-icon {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .case-content-container {
    // rewrite content layout css for this page
    .ant-breadcrumb {
      padding: 0px 32px;
    }

    .content-wrapper {
      padding: 0px 32px;
    }
  }
}
