@import "../../../variables.scss";

.intervention-library-container {
  padding: 2rem var(--default-landing-padding);
  // @media (max-width: 1280px) {
  //   padding: 6px 32px;
  // }

  .ant-breadcrumb {
    padding: 0 0 32px 0 !important;

    a.active {
      font-weight: 700;
    }
  }

  .intervention-library-header ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 8px;
    li {
      display: inline-block;
      color: #8a8a8a;
      font-family: "TabletGothic";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px; /* 166.667% */
      display: inline-flex;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      width: auto;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 6px;
      }
      &.active {
        color: $primary-color;
        background-color: #ddf8e9;
      }
    }
  }
  .intervention-library-content {
    .intervention-library-content-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: 12px;
      padding: 24px 18px;
      border-radius: 20px;
      background-color: #abefc6;
      background-image: url("/assets/images/procurement-library/bg-card-procurement-green.png");
      background-position: right bottom;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;

      .intervention-library-search-box-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        width: 100%;

        h1 {
          margin-block-start: 0;
          margin-block-end: 0;
          color: $primary-color;
          font-size: 34px !important;
          font-style: normal;
          font-weight: 700;
          line-height: 42px;
          flex-shrink: 0;
        }

        .income-library-search-box-icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-left: auto;

          img.il-search-box-icon {
            width: 24px;
            height: 24px;
          }
        }
      }

      .ant-form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 12px;
        @media (max-width: 820px) {
          grid-template-columns: repeat(3, 1fr);
        }
        .intervention-library-search-button {
          width: fit-content;
          height: auto;
          display: flex;
          padding: 0 12px;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          border-radius: 40px;
          border: 1px solid $primary-color;
          background: $primary-color;
          color: #fff;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          .ant-space-item span {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
          }
          .ant-space-item svg {
            margin-top: 4px;
          }
        }
      }
    }

    .intervention-library-content-body {
      width: 100%;
      // height: calc(100vh - 360px);
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0 0 0 5px;
      margin: 24px auto;

      .il-practice-by-attribute-wrapper {
        padding: 0 0 0 16px;
        border-left: 1.5px solid $primary-color;
        border-left-style: dashed;
        position: relative;
        margin-bottom: 20px;

        &::before,
        &::after {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $primary-color;
          position: absolute;
          left: -3px;
        }

        .il-attribute-title {
          color: var(--light-90, #979797);

          /* Heading/H6/Regular */
          font-family: "TabletGothic";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 157.15%; /* 31.43px */

          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 24px;

          div.left {
            min-width: 18%;
          }
        }
      }

      .ant-list {
        // margin-bottom: 24px;
        .intervention-card {
          width: 100%;
          min-height: 340px;
          // display: flex;
          // flex-direction: column;
          // align-items: flex-start;
          // justify-content: space-between;
          // gap: 12px;
          padding: 12px;
          border-radius: 16px;
          border: 1px solid #e9e9e9;
          position: relative;

          .intervention-card-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 6px;

            img.ssc-step {
              width: 24px;
              height: 24px;
            }
            // .intervention-card-categories {
            //   display: flex;
            //   flex-direction: row;
            //   flex-wrap: wrap;
            //   gap: 4px;
            //   .ant-tag {
            //     padding-inline: 0;
            //     padding: 1px 6px;
            //     border-radius: 999px;
            //     display: flex;
            //     flex-direction: column;
            //     justify-content: center;
            //     align-items: center;
            //     font-size: 12px;
            //     font-style: normal;
            //     font-weight: 700;
            //   }
            // }
          }

          .intervention-card-description {
            margin-top: 20px;
            width: 100%;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            cursor: pointer;
            strong {
              margin-block-start: 0;
            }
          }

          .intervention-cart-tags {
            margin-top: 20px;
            border-radius: 12px;
            border: 1px dashed var(--light-40, #d8d8d8);
            background: var(--light-10, #fff);
            display: flex;
            padding: 8px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;

            .ict-title,
            .ict-tags-wrapper {
              font-family: "TabletGothic";
              font-size: 12px;
            }

            .ict-tags-wrapper {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;

              .ant-tag {
                font-size: 12px !important;
              }
            }
          }

          .intervention-card-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            bottom: 12px;
            right: 12px;

            a {
              padding-left: 0;
              padding-right: 0;
              color: $primary-color;
              .ant-space-item svg {
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
    .intervention-library-content-footer {
      text-align: center;
    }
  }
}
