@import "../../variables.scss";

#home,
.home-container {
  #jumbotron {
    background-image: url("/assets/images/home/home-jumbotron.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 32rem;
    min-height: 32rem;
    position: relative;
    overflow: hidden;

    .jumbotron-gradient-wrapper {
      position: relative;
      display: flex;

      .jumbotron-gradient-overlay {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 32rem;
        min-height: 33rem;
        background: linear-gradient(
          90deg,
          rgba(28, 62, 32, 0.67) 0%,
          rgba(127, 127, 84, 0) 100%
        );
        z-index: 0;
      }
    }

    .jumbotron-text-wrapper {
      padding: 3rem var(--default-padding);
      z-index: 1;
      h1 {
        color: #ffffff;
        width: 675px;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
      }

      h3 {
        color: #ffffff;
        font-weight: 400;
        width: 675px;
        margin-block-end: 40px;
      }
    }

    .jumbotron-idh-logo {
      position: absolute !important;
      bottom: 0;
    }
  }

  .info-card-row {
    background: #f9fafb;
    padding: 0 3rem 3rem 3rem;
    margin-top: -7rem;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .info-card-wrapper {
      border-radius: 22px;
      height: 100%;

      .ant-card-body {
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
      }

      .info-card-icon {
        width: 55px;
        height: 55px;
        padding: 6px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 50px 40px 50px 40px;
      }

      h3 {
        color: #000;
        font-family: "RocGrotesk";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
      }

      p {
        color: #00625f;
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }

      a {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
      }

      &.info-first {
        background: #ffc505;
      }

      &.info-second {
        background: #47d985;
      }
    }
  }

  .income-driver-framework-wrapper {
    background: #f9fafb;
    width: 100%;
    padding: 0 var(--default-padding) 3rem var(--default-padding);

    .income-driver-framework-text-wrapper {
      h2 {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-style: normal;
      }

      p {
        color: #000;
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .toolkit-wrapper {
    background: #fff;
    width: 100%;
    padding: 3rem var(--default-padding) 3rem var(--default-padding);

    h2 {
      color: $primary-color;
      font-family: "RocGrotesk";
    }

    p {
      color: #000;
      font-family: "TabletGothic";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .toolkit-header-wrapper {
      margin-bottom: 2rem;

      h2 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
    }

    .tool-resource-items-wrapper {
      padding: 2rem 0;
      position: relative;

      h3 {
        color: $primary-color;
        font-family: "RocGrotesk";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
        padding: 0;
      }

      p {
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .tool-resource-list {
        margin-bottom: 20px;

        p {
          margin: 10px 2px;
        }
      }

      a {
        padding: 10px 14px;
      }

      .tool-resource-item-content {
        z-index: 9;

        p.link-to-step-text {
          font-size: 13px;
          margin: 0;
        }
      }

      .tool-resource-image {
        width: 100%;
        height: 350px;

        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid $primary-color;
        border-radius: 10px;
      }
    }
  }

  #smart-mix {
    position: relative;
    z-index: 9;
    background: #f9fafb;
    width: 100%;
    padding: 3rem var(--default-padding) 3.5rem var(--default-padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    .text-wrapper {
      width: 40%;
    }

    h2 {
      color: $primary-color;
      font-family: "RocGrotesk";
    }

    p {
      color: #000;
      font-family: "TabletGothic";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .pizza-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .connect-wrapper {
    background: #fff;

    .connect-col {
      padding: 4rem var(--default-padding);

      .ant-card-body {
        text-align: center;
        padding: 24px 20px 38px;
        width: 90%;
        border-radius: 16px;
        background: #eaf2f2;
        position: relative;
        overflow: hidden;
      }

      .connect-content-wrapper {
        position: relative;
        z-index: 9;

        h2 {
          color: $primary-color;
          font-family: "RocGrotesk";
          padding: 0;
          margin: 0;
        }

        p {
          font-family: "TabletGothic";
          font-size: 16px;
          font-style: normal;
        }

        a {
          margin-top: 20px;
        }
      }
    }
  }

  &.mobile-screen {
    .jumbotron-text-wrapper,
    .info-card-row,
    .income-driver-framework-wrapper,
    .toolkit-wrapper,
    #smart-mix,
    .connect-col {
      padding-left: $default-mobile-padding-size !important;
      padding-right: $default-mobile-padding-size !important;
    }

    #jumbotron {
      height: 100%;
      min-height: fit-content;

      .jumbotron-gradient-wrapper {
        .jumbotron-gradient-overlay {
          height: 100%;
        }
      }
    }

    .jumbotron-text-wrapper {
      h1,
      h3 {
        max-width: 100% !important;
        width: 100% !important;
        overflow-wrap: break-word;
        white-space: normal;
        margin: 0;
      }

      h3 {
        margin-block-end: 20px;
      }
    }

    .info-card-row {
      margin-top: -1rem !important;
    }

    #smart-mix {
      flex-direction: column;

      .text-wrapper {
        width: 100% !important;
      }
    }

    .connect-col {
      .ant-card-body {
        width: 100%;
      }
    }
  }
}
