@import "../../variables.scss";

#cii-page,
.cii-page-container {
  h2 {
    color: $primary-color;
    font-family: "RocGrotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  h3 {
    color: $primary-color;
    font-family: "RocGrotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 10px 0;
  }

  p {
    margin: 0;
    font-family: "TabletGothic";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .jumbotron-wrapper {
    background-image: url("/assets/images/cii/cii-jumbotron.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -11rem;
    width: 100%;
    height: 26rem;
    position: relative;
    overflow: hidden;

    .jumbotron-gradient-wrapper {
      position: relative;
      display: flex;

      .jumbotron-gradient-overlay {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 26rem;
        background: linear-gradient(
          90deg,
          rgba(28, 62, 32, 0.67) 0%,
          rgba(127, 127, 84, 0) 100%
        );
        z-index: 0;
      }

      .jumbotron-text-wrapper {
        z-index: 1;
        padding: 36px $default-padding-size;
        h1 {
          font-family: "RocGrotesk" !important;
          color: #ffffff;
          font-weight: 900;
          font-size: 3rem !important;
          line-height: 70px;
          margin: 0;
        }

        h3 {
          color: #ffffff;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 35px;
          width: 50%;
          margin-bottom: 24px;
        }
      }
    }
  }

  .about-wrapper {
    background-color: #fff;
    padding: 2rem $default-padding-size 3rem $default-padding-size;

    .logos-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      border-bottom: 2px solid #f2f2f2;
      padding-bottom: 20px;

      div {
        flex: 1 1 33%;
        text-align: center;

        &:nth-child(2) {
          border-left: 2px solid #f2f2f2;
          border-right: 2px solid #f2f2f2;
        }
      }
    }

    .about-text-wrapper {
      .about-description-wrapper {
        display: flex;
        gap: 20px;

        p {
          color: #8a8a8a;
        }
      }
    }
  }

  .indicators-wrapper {
    padding: 2rem 0 2rem $default-padding-size;
    background-color: #eaf2f2;

    h2 {
      text-align: center;
    }

    .indicator-carousel-wrapper {
      position: relative;
      margin-left: 100px;

      .alice-carousel__stage {
        display: flex;
        gap: 10px;
      }

      .alice-carousel__stage-item,
      .indicator-item {
        width: 200px !important;
        height: 200px;
      }

      .alice-carousel__dots {
        margin-top: 18px !important;
      }

      .alice-carousel__dots-item {
        margin-right: 10px !important;
        background-color: #d6d3d3;

        &.__active {
          background-color: $primary-color;
        }
      }

      .indicator-item {
        border-radius: 20px;
        border: 1px solid #f2f2f2;
        background: #fffaeb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          margin-top: 20px;
        }
      }

      .btn-prev,
      .btn-next {
        position: absolute;
        top: 35%;
        border-radius: 22px;
        background: #01625f;
        backdrop-filter: blur(4px);
        width: 30px;
        height: 30px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        padding: 0;

        .anticon {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .btn-prev {
        left: -20px;
      }

      .btn-next {
        right: 55px;
      }
    }
  }

  .pch-wrapper {
    padding: 2rem $default-padding-size 2rem $default-padding-size;
    background-color: #fcf9f4;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;

    .pch-item {
      flex: 1;

      &:nth-child(1),
      &:nth-child(2) {
        flex: 1 1 calc(50% - 20px); /* 2 items in first row (50% width each) */
      }

      &:nth-child(3) {
        flex: 1 1 100%; /* Full-width for the second row */
      }
    }
  }

  .contributing-wrapper {
    padding: 2rem $default-padding-size 3rem $default-padding-size;

    .contributing-content-wrapper {
      padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
      grid-template-rows: repeat(
        3,
        auto
      ); /* 3 rows, height adjusts based on content */
      gap: 20px; /* Space between grid items */

      div.contributing-item {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
      }
    }
  }

  .value-org-wrapper {
    padding: 2rem $default-padding-size 3rem $default-padding-size;
    background-color: #fcf9f4;

    h2 {
      text-align: center;
    }

    .value-org-content-wrapper {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      align-items: center;

      .value-org-item-wrapper {
        flex: 1 1/2;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .value-org-item {
          display: flex;
          gap: 12px;
          justify-content: flex-start;

          h3 {
            margin: 0;
            font-size: 16px;
          }
        }
      }

      .image-wrapper {
        flex: 1/2 1;
        border-radius: 12px;
      }
    }
  }

  .contribute-to-wrapper {
    padding: 2rem $default-padding-size 3rem $default-padding-size;
    background-color: #fff;

    h2,
    p {
      text-align: center;
      margin: 14px;
    }

    .contact-card-wrapper {
      padding: 1.5rem 0;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .contact-card-item {
        min-width: 25%;
        max-width: 275px;
        border-radius: 12px;
        background: #eaf2f2;
        padding: 24px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .name,
        .email > a {
          color: $primary-color;
        }

        .name {
          margin-top: 10px;
          font-family: "RocGrotesk";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
        }

        .org {
          color: #000;
          font-family: "TabletGothic";
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
        }

        .email {
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }

    .address-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        max-width: 685px;
        color: #8a8a8a;
        font-size: 14px;

        a {
          color: #8a8a8a;
          text-decoration: underline;
        }
      }
    }
  }
}
