@import "../../../variables.scss";

#jumbotron {
  background-image: url("/assets/images/jumbotron.jpeg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -7rem;
  width: 100%;
  height: 32rem;
  position: relative;
  overflow: hidden;

  .jumbotron-col {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 3rem $default-padding-size;
  }

  h1 {
    font-family: "RocGrotesk" !important;
    color: #ffffff;
    font-weight: 900;
    font-size: 3rem !important;
    width: 606px;
    line-height: 70px;
    margin: 0;
  }

  h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 35px;
    width: 426px;
  }

  .jumbotron-idh-logo {
    position: absolute !important;
    bottom: 0;
  }
}

#framework-drivers {
  background-color: #f9fafb;
  width: 100%;
  padding: 2rem $default-padding-size;

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 24px 0 16px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.28px;
    font-family: "TabletGothic";
    border-bottom: 1px solid $muted-color;
  }

  .text-wrapper {
    h2 {
      text-align: center;
      color: $primary-color;
      font-family: "RocGrotesk";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
    }
  }

  .framework-drivers-calculation-wrapper {
    padding: 0;
    height: 245px;

    .driver-label {
      color: #000;
      font-family: "RocGrotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }

    .driver-icon-wrapper {
      // border-radius: 100px 0px 100px 100px;
      background: transparent;
      width: 100px;
      height: 100px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &.price-icon {
        background: transparent;
      }
    }

    .math-symbol {
      color: #45d884;
      font-family: "TabletGothic";
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }

    .driver-calculation-stroke {
      margin-top: 16px;
      margin-bottom: 10px;
    }
  }
}

#get-started {
  padding: 3rem $default-padding-size;
  background: #fff;

  h2 {
    color: $primary-color;
    font-family: "RocGrotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.8px;
  }

  .get-started-info-wrapper {
    .number {
      color: #00625f;
      text-align: center;
      font-family: "RocGrotesk";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.28px;

      padding: 4px 8px;
      background: $yellow-color;
      border-radius: 100px 70px 100px 70px;
    }

    .title {
      color: #00625f;
      font-family: "RocGrotesk";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.336px;
    }

    .description {
      color: #000;
      font-family: "TabletGothic";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      padding-left: 36px;
    }
  }

  .button-wrapper {
    padding-left: 36px;
    margin-top: 48px;
  }

  .image-wrapper {
    img {
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  }

  .case-step-wrapper {
    .ant-steps-item {
      padding: 0 0 24px 0;
      // not active
      .ant-steps-item-tail::after {
        border: 1px solid #e1e0da;
      }

      .ant-steps-item-icon {
        border: 1px solid #e3e3e3;

        .ant-steps-icon {
          color: #979797;
          text-align: center;
          font-family: "RocGrotesk";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
        }
      }

      .ant-steps-item-title {
        font-family: "RocGrotesk";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        padding: 0;
        color: #000;
      }
      .ant-steps-item-description {
        color: #475467;
        font-family: "TabletGothic";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        margin-top: 5px;
      }

      // when active
      &.ant-steps-item-active {
        .ant-steps-item-tail::after {
          border: 1px solid $primary-color;
        }

        .ant-steps-item-icon {
          border: 1px solid $primary-color;
          box-shadow: 0 0 2px 4px rgba(203, 244, 220, 1);
          background: #eaf2f2;

          .ant-steps-icon {
            color: $primary-color;
          }
        }
      }

      // when finished
      &.ant-steps-item-finish {
        .ant-steps-item-icon {
          border: 1px solid #48d985;
          background: #48d985;

          .ant-steps-icon {
            color: #fff;
          }
        }
      }
    }
  }
}

#explore-studies {
  background-color: #ffffff;
  width: 100%;
  padding: 3rem $default-padding-size;

  h2 {
    color: #00403e;
    text-align: center;
    font-family: "RocGrotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }

  p {
    color: #005855;
    text-align: center;
    font-family: "TabletGothic";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .map-container {
    background-image: url("/assets/images/explore-studies.svg") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 35rem;
    margin-top: 50px;

    &.signed-in {
      background-image: url("/assets/images/signed-in-explore-studies.svg") !important;
    }

    &.public {
      background-image: url("/assets/images/visual_for_landing_page.png") !important;
    }
  }
}

#footer-disclaimer {
  background-color: #00625f;
  color: #ffffff;
  width: 100%;
  padding: 1.5rem $default-padding-size;

  h2 {
    font-size: 30px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7rem;
  }

  .footer-wrapper {
    padding: 1rem 0;

    .copyright-text {
      font-size: 14px;
    }
  }
}

#compare-income-target {
  background: #ffffff;

  h2 {
    color: #00403e;
    font-family: "RocGrotesk";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    // line-height: 52px;
  }

  p {
    color: #005855;
    font-family: "TabletGothic";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .compare-income-target-info-card-wrapper {
    padding: 3rem;

    h3 {
      color: #00302e;
      font-family: "RocGrotesk";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      text-transform: capitalize;
    }

    p {
      color: #00302e;
      font-family: "TabletGothic";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    .compare-income-target-card {
      border-radius: 20px;
      min-height: 235px;

      &.info-first {
        background: #47d985;
      }

      &.info-second {
        background: #76c8ff;
      }
    }
  }
}
