@import "../../variables.scss";

#welcome {
  padding: 24px $default-padding-size;

  .username-wrapper {
    color: #01625f;
    font-family: "RocGrotesk";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 157.15%;
  }

  .jumbotron-card-wrapper {
    .welcome-card-wrapper {
      padding: 0 24px 84px 24px;
      color: #fff;
      border-radius: 20px;
      background: #01625f;

      .welcome-title {
        font-family: "RocGrotesk";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
      }

      .welcome-subtitle {
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 28px;
        letter-spacing: -0.32px;
      }
    }
  }

  .floating-card-wrapper {
    margin-top: -92px;

    .floating-card-item {
      border-radius: 20px;
      border: 1px solid #ddd;

      .ant-card-body {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        min-height: 9.5rem;
      }

      .title {
        color: #01625f;
        font-family: "RocGrotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.36px;
      }

      .description {
        color: #444;
        font-family: "TabletGothic";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }

      .button-explore {
        border-radius: 40px;
        border: #01625f;
        background: #01625f;

        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        color: #fff;
        font-family: "RocGrotesk";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
      }
    }

    .case-card-wrapper {
      background: #eed16e;
    }

    .explore-studies-card-wrapper {
      background: #7dd3ab;
    }

    .lib-card-wrapper {
      background: #9cd7ff;
    }
  }

  .map-card-wrapper {
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.25);

    .ant-card-body {
      padding: 0;

      .leaflet-container {
        border-radius: 20px;
      }
    }
  }
}
.view-summary-modal-wrapper {
  .scenario-outcome-form-wrapper {
    border-radius: 20px 20px 0px 0px;
    background: #f2f2f2;

    .ant-card-body {
      padding: 16px 24px;
    }

    label {
      font-family: "RocGrotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 157.15%;
    }

    .button-download {
      background: transparent;
      border-radius: 40px;
      border: 1px solid #01625f;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      color: #01625f;
      font-family: "RocGrotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 142.857%;
    }
  }
}
