@import "../../../variables.scss";

#assessment-page {
  .assessment-container {
    padding: 2rem var(--default-landing-padding) 3rem;

    .ant-breadcrumb {
      padding: 0 0 32px 0 !important;

      a.active {
        font-weight: 700;
      }
    }

    .assesment-title-card-wrapper {
      // background-image: url("/assets/images/procurement-library/bg-card-procurement-blue.png");
      // background-position: right bottom;
      // background-repeat: no-repeat;
      // background-size: contain;
      width: 100%;
      display: flex;
      padding: 24px;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      border-radius: 20px;
      background-color: var(--blue-20, #d0ecff);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("/assets/images/procurement-library/bg-card-procurement-blue.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.5; /* Adjust opacity (0.0 to 1.0) */
        border-radius: 20px;
        pointer-events: none; /* Allows clicks to pass through */
        z-index: 0;
      }

      .assesment-title-text-wrapper {
        max-width: 750px;
        position: relative; /* Ensures text stays above background */
        z-index: 1;

        h1 {
          color: $primary-color;
          font-family: "RocGrotesk";
          font-size: 32px !important;
          font-style: normal;
          font-weight: 700;
          line-height: 42px !important;
        }

        p {
          color: var(--dark-100, #000);
          font-family: "TabletGothic";
          font-style: normal;
          font-weight: 400;
          line-height: 26px !important;
        }
      }
    }

    .assesment-content {
      display: flex;
      width: 100%;
      padding: 24px 0;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      .assesment-content-intro {
        display: flex;
        gap: 32px;

        p {
          font-family: "TabletGothic";
          font-style: normal;
          line-height: 26px !important;
        }
      }

      .value-chain-actor-card {
        width: 100%;
        border-radius: 16px;
        border: 2px dashed var(--green-100, $primary-color);
        background: var(--green-10, #eaf2f2);

        display: flex;
        padding: 16px 14px 14px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        align-self: stretch;

        // custom steps style
        .ant-steps {
          display: flex;
          justify-content: space-evenly;
          margin-left: 3rem;

          .ant-steps-item {
            flex: 1;

            .ant-steps-item-container {
              .ant-steps-item-tail {
                position: relative;
                width: 100%;
                height: 2px;
                background: $primary-color;

                &::after {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 50%;
                  width: 12px;
                  height: 12px;
                  border-top: 2px solid $primary-color;
                  border-right: 2px solid $primary-color;
                  transform: translateY(-50%) rotate(45deg);
                  background-color: transparent;
                  margin-right: 5px;
                }
              }

              .ant-steps-item-icon {
                .ant-steps-icon {
                  top: -10px;
                }
              }
            }
          }
        }
        // EOL custom steps style

        .value-chain-actor-item-card {
          display: flex;
          min-height: 167px;
          min-width: 197px;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          flex: 1 0 0;
          padding: 20px;
          cursor: pointer;

          border-radius: 8px;
          border: 1px solid var(--green-30, #b6d2d1);
          background: #fff;

          &:hover {
            border-color: $primary-color;
          }

          .vca-icon-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            img.vca-item-icon {
              width: 32px;
              height: 32px;
            }
          }

          p {
            text-align: left;
            margin: 0;
            color: #000;
          }
        }
      }

      // handle active/process
      .ant-steps-item-process {
        .value-chain-actor-item-card {
          border: 1px solid var(--green-100, $primary-color);
          background: var(--green-20, #d0e2e2);

          p {
            font-weight: 600;
          }
        }
      }
      // eol handle active/process

      // handle disabled steps
      .ant-steps-item-disabled {
        .value-chain-actor-item-card {
          color: #a4a4a4 !important;

          .vca-icon-wrapper {
            img.vca-item-icon {
              filter: grayscale(1);
              opacity: 0.5;
            }
          }

          p {
            color: #a4a4a4;
          }
        }
      }
      // EOL handle disabled steps

      .assesment-hint-wrapper {
        display: flex;
        width: 100%;
        p {
          color: var(--dark-40, #666);
          line-height: 26px !important;
          margin: 0;
          text-align: left;
        }
      }
    }

    .assesment-results {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      width: 100%;

      // General Result Card
      .assesment-results-card {
        width: 100%;

        .ant-card-head {
          background: $primary-color;
          padding: 12px 14px;

          .ant-card-head-title {
            color: #fff;
            font-family: "RocGrotesk";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 157.15%; /* 31.43px */
          }

          .clear-button {
            border-radius: 100px;
            border: 1px solid #fff;
            color: #fff;
            font-weight: 600;
          }
        }

        .ant-card-body {
          padding: 0;

          .ant-result {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .ant-result-icon {
              img.vca-no-result-icon {
                width: 125px;
              }
            }
            .ant-result-title {
              color: var(--dark-100, #000);
              text-align: center;
              font-family: "RocGrotesk";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 157.15%; /* 28.287px */
              max-width: 374px;
            }
          }
        }
      }
      // EOL General Result Card

      // First Actor Card
      .assesment-results-card {
        .fa-result-section-a {
          img.fa-section-a-actor-icon {
            width: 36px;
            height: 36px;
          }

          h2 {
            margin: 0;
            font-size: 34px !important;
          }
        }

        .fa-result-section-b {
          padding: 24px 0 0 0;
          display: flex;
          flex-direction: column;
          gap: 24px;

          .fa-result-section-b-list-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;

            p {
              margin: 0;
              line-height: 26px !important;
            }

            img.fa-section-b-check-icon {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      // EOL First Actor Card
    }
  }
}
