@import "../../../variables.scss";

.step-segment-tabs-container {
  &.ant-tabs {
    .ant-tabs-nav {
      margin: 0;

      .ant-tabs-nav-wrap {
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            border-radius: 15px 15px 0 0 !important;
            background: #e1e0e0;

            &.ant-tabs-tab-active {
              background: #fff;
            }
          }
        }
      }
    }

    .ant-tabs-content {
      background: #fff;
      padding: 20px 24px;
      border-radius: 0 20px 20px 20px;
    }
  }
}

.card-income-target-wrapper {
  font-family: "TabletGothic";
  background: $primary-color;
  color: #fff;
  border-radius: 20px;

  .ant-card-body {
    padding: 20px;

    .income-target-value {
      font-family: "RocGrotesk";
      font-weight: bold;
      font-size: 22px;
    }

    .income-target-text {
      max-width: 225px;
    }
  }
}

.card-lib-wrapper {
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 8px;

  .ant-card-body {
    padding: 20px;

    .lib-text,
    .lib-source {
      font-family: "TabletGothic" !important;
    }

    .lib-text {
      font-size: 16px;
      font-weight: 700;
    }

    .lib-source {
      font-size: 14px;
      font-weight: 400;

      a {
        color: #000;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
      }
    }
  }
}

#enter-income-data {
  .total-income-title-wrapper {
    font-family: "RocGrotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  .total-income-value-wrapper {
    font-family: "TabletGothic";
    font-style: normal;
    font-weight: 700;
    line-height: 22px;

    .level-text {
      font-size: 12px;
    }

    .value-text {
      font-family: "RocGrotesk";
      font-size: 18px;
    }
  }

  .ant-tag {
    border-radius: 16px;
    font-size: 12px;
    font-family: "TabletGothic";
    line-height: 18px;
    span {
      margin-top: 4px;
    }
  }
}
