@import "../../variables.scss";

.case-filter-container {
  width: 375px !important;

  .case-filter-header {
    .case-filter-title {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .case-filter-body {
    margin-top: 16px;
    label {
      font-weight: 500;
      font-size: 12px;
    }
  }

  .case-filter-footer {
    margin-top: 16px;
    .button-filter {
      background-color: $primary-color;
      color: #fff;
      font-weight: 500;
      border: none;
      float: right;

      :hover {
        color: #fff;
      }
    }
    .button-reset {
      font-weight: 500;
    }
  }
}

.case-settings-modal-container {
  .ant-modal-body {
    height: 70vh;
    overflow-y: auto;
    padding: 24px 5px;
  }

  .case-setting-child-card-wrapper {
    .ant-card-head {
      font-family: "TabletGothic";
      background: #f2f2f2;
    }

    .section-title {
      font-family: "TabletGothic";
      font-weight: 500;
      line-height: 1.2;
    }
  }

  .ant-col,
  label {
    font-family: "TabletGothic";
  }

  .segment-card-container {
    margin-bottom: 14px;

    .ant-card-head {
      background: transparent;
    }
  }

  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      .ant-btn {
        border: none;
      }
    }

    .ant-drawer-body {
      padding: 0;

      .case-form-body-wrapper {
        padding: 24px;
      }

      .case-form-button-wrapper {
        margin-top: 24px;
        border-top: 1px solid #e2e4e9;
        padding: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
      }

      .button-cancel,
      .button-ghost {
        background: transparent;
        border-radius: 40px;
        border-color: $primary-color;
        font-weight: 700;
        color: $primary-color;
      }

      .button-save {
        background: $primary-color;
        border-radius: 40px;
        color: #ffffff;
        font-weight: 700;
        border-color: $primary-color;
      }

      .button-no-border {
        border: none;
        width: auto;
      }

      .button-browse-file {
        font-family: "TabletGothic";
        line-height: 24px;
        color: var(--gray-100, #959390);
        border-radius: 40px;
        border: 1px solid var(--gray-100, #959390);
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
      }

      .ant-tabs {
        .ant-tabs-nav {
          margin-bottom: 24px;
        }

        h3 {
          margin-top: 0;
          font-family: "RocGrotesk";
        }

        .ant-upload-text,
        .ant-upload-hint {
          font-family: "TabletGothic";
        }
      }
    }
  }
}

#case {
  margin-top: 24px;

  h2 {
    font-family: "RocGrotesk" !important;
  }
}

.case-form-dragger-item-container {
  padding: 12px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  .dragger-item-list-wrapper {
    display: flex;
    align-items: center;
    flex: 1;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      margin-top: 4px;
      word-break: break-word;
      word-wrap: break-word;
    }
  }
}

.segment-threshold-row {
  p.operator {
    margin: 0;
    margin-top: 26px;

    &.numerical {
      font-size: 20px;
    }
  }
}
